




<div class="featured-container">
  <h3 class="featured-heading">Featured Products</h3>
  <div class="featured-products-wrapper">
    <div class="featured-products">
      <div class="product-carousel-container">
        <div class="product-list">
          <div class="product-item" *ngFor="let product of featuredProducts; let i = index">

        <div class="product-image" [routerLink]="['/details', product.id]">
          <img [src]="product.image" alt="{{ product.title }}">
          <div class="product-label">
            <span class="label-text">{{ product.label }}</span>
          </div>
        </div>
        <div class="product-details">
          <h4 [routerLink]="['/details', product.id]">{{ product.title }}</h4>
          <p>{{ product.description }}</p>
          <div class="price">{{ product.price }} DT</div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>




<div *ngFor="let category of categories" class="category">
  <div class="category-header">
    <h2>{{ category }}</h2>
    <div class="carousel-button">
      <button class="prev-button" (click)="scrollCarousel(getFormattedCategoryId(category), 'prev')"></button>
      <button class="next-button" (click)="scrollCarousel(getFormattedCategoryId(category), 'next')"></button>
    </div>
  </div>
  <div class="product-carousel-container" [id]="getFormattedCategoryId(category)">
    <div class="product-list">
      <div class="product-item" *ngFor="let product of filteredProductsByCategory[category]">
          <div class="product-image" [routerLink]="['/details', product.id]">
            <img src="{{ product.image }}" alt="{{ product.title }}">
          </div>
          <div class="product-details">
            <h4 [routerLink]="['/details', product.id]">{{ product.title }}</h4>
            <p [routerLink]="['/details', product.id]">{{ product.description }}</p>
            <div class="price">{{ product.price }} DT</div>
          </div>
        </div>
      </div>

      <ng-template #loading>Loading...</ng-template>
    </div>

</div>

<div class="customer-reviews">
  <h3>Customer Reviews</h3>
  <div class="review" *ngFor="let review of customerReviews">
    <div class="author">{{ review.author }}</div>
    <div class="text">{{ review.text }}</div>
  </div>
</div>

